body {
  background-color:#000000;
  background-image:url('./children_of_eden_by_parkbc-d2ylko8.jpg');
  background-position:center;
  background-repeat:no-repeat;
  font-family:Calibri, Verdana, Arial, sans-serif;
}

button {
  background: #1d8712;
  font-size:20px;
  padding: 12px;
  color: white;
}

h1 {
  color: white;
}

h3 {
  color: cyan;
}

p {
  font-size:30px;
  color:white;
}

input {
  background: #ffa20f;
  font-size:20px;
  padding: 12px
}
